.body-div{
    max-width: 80rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-color: gold;  
    border-style:double;
    border-width: 2rem;
}

.banner-div-gap{
border: 2px;
background-color: cyan;
padding:0.2rem;
text-align:center;

}

.banner-div{
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: #e7eff0b8;
    justify-content: center;
    width: 100%;
    padding: .825rem 2.5rem;
    display: flex;
    position: sticky;
    top: 0;
}

.restaurant-title-div{
    border: 2px;
    background-color:tomato;
    text-align: center;
    padding: 0.5rem;
    font-size:1.5rem;
}
.restaurant-listing-div{
border: 20px;
background-blend-mode: luminosity;
text-align: center;
text-decoration: aqua;
font-size: 4rem;

}

.order-div-gap{
    border: 10px;
    background-color:aliceblue;
    padding:2rem;
    display:block;
    text-align: center;
    }

.order-summary-div{
    align-items: center;
    backdrop-filter: saturate(180%) blur(1.25rem);
    text-align: center;
}